
body, h1, h2, h3, h4, h5, h6 {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.main-title {
    font-size: 6vw;
    font-weight: 300;
    line-height: 1.2;
}

